

@media screen and (min-width:320px) and (max-width:480px) {
.logo  {
   text-align: center;
}
.top-links ul {
    float: none;
   
}
.top-links{
   
    text-align: center;
}
}
@media screen and (min-width:481px) and (max-width:800px) {
   
}